@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-categorias:hover > div, .dropdown-categorias:focus-within > div {
    display: block;
}

.dropdown-arrow {
    transition: 200ms linear;
}

.dropdown-categorias:hover .dropdown-arrow, .dropdown-categorias:focus-within .dropdown-arrow {
    transform: rotate(90deg);
}

.cart-icon::before {
    content: attr(data-cart-length);
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 0.75rem;
    bottom: 0.5rem;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid theme('colors.primary');
    border-radius: 1rem;
    font-weight: 500;
}